{% extends "base.html" %}
{% block content %}
<div class="row">


  <h1>TERMS AND CONDITIONS</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
  <p>et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
  <p>ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
  <p>fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
  <p>mollit anim id est laborum.</p>

  <p>If you do not agree with the terms and conditions, do not create an account!</p>


</div>

{% endblock content %}